@model IEnumerable<LibApp.Models.Book>

@{
    ViewData["Title"] = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

<p>
    <a class="btn btn-primary" asp-action="New">New Book</a>
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Book</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/api/booksapi', 
                method: 'GET',
                success: function (data) {
                    var tbody = $(".table tbody");
                    tbody.empty(); 
                    data.forEach(function (book) {
                        var genreName = book.genre ? book.genre.name : "Unknown"; 
                        var row = `<tr>
                    <td><a href="/Books/Edit/${book.id}">${book.title}</a></td>
                    <td>${genreName}</td>
                    <td><a href="/Books/Details/${book.id}">Details</a></td>
                </tr>`;
                        tbody.append(row);
                    });
                },
                error: function () {
                    alert("An error occurred while loading the data.");
                }
            });
        });
    </script>
}
